:root {
  --blue: #5d5dff;
  --text_black: #3b3b3b;
}
body {
  color: var(--text_black);
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 92%;
  padding: 0.5rem;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem !important;
}
.h-100 {
  height: 100%;
}
header {
  color: white;
  padding: 0.5rem;
  font-size: 1.2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  /* height: 70vh !important; */
  min-height: 33rem;
}
header.index {
  min-height: calc(100vh) !important;
}
.show {
  display: flex !important;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  color: #5d5dff;
  border-radius: 0.5rem;
  right: 5rem;
  z-index: 44;
  flex-direction: column;
  padding: 0.5rem 0;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.profileBtn {
  position: relative;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-evenly;
}
.logBtns a {
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
  margin: 0 0.5rem;
}
.logBtns a.regBtn {
  border: 1px solid white;
}
header .question {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
header .center {
  width: 90%;
  margin: 2rem auto;
  padding: 0.8rem;
}
header h1 {
  font-size: 4.5rem;
  margin: 1rem 0;
}
header .answers {
  padding: 2rem 1rem;
  /* font-size: 2rem; */
}
.answers .button {
  float: left;
  margin: 0 5px 0 0;
  width: 200px;
  height: 60px;
  position: relative;
}

.answers .button label,
.answers .button input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 8rem;
  border: 1px solid white;
  right: 0;
  bottom: 0;
}

.answers .button input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.answers .button input[type="radio"]:hover + label {
  border-radius: 8rem;
  background-color: white;
  color: var(--blue);
  border: 1px solid --blue;
}

label.green {
  background-color: rgb(8, 164, 8) !important;
  color: white !important;
}
.answers .button label {
  cursor: pointer;
  z-index: 90;
  line-height: 1.8em;
  display: flex;
  font-weight: bold;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
}
header .bottomRight {
  display: flex;
  padding: 0.5rem;
  justify-content: end;
}
header .bottomRight p {
  margin: 0 0.2rem;
}
